* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  user-select: none;
  background-color: rgb(171, 233, 212);
}

#main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 500px;
  border-radius: 10px;
  gap: 10px;
  background-color: rgb(216, 221, 221);
}

.board-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  user-select: none;
  width: 150px;
  height: 150px;
  background-color: rgb(157, 150, 163);
  border-radius: 10px;
  font-size: 6rem;
}

.board-row {
  display: flex;
  width: 470px;
  height: 150px;
  gap: 10px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: black;
}

#title {
  font-size: 4rem;
  font-style: italic;
  color: white;
  font-family: "Shantell Sans", cursive, sans-serif;
}

#replay-card {
  width: 400px;
  height: 250px;
  background-color: rgba(243, 220, 220, 0.514);
  border: 1px solid rgb(8, 8, 8);
  position: fixed;
  color: green;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

#replay-button {
  background-color: rgb(103, 103, 219);
  width: 120px;
  height: 30px;
  font-size: 1rem;
  color: white;
  border: 2px solid black;
  border-radius: 5px;
}
