* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  user-select: none;
  background: linear-gradient(160deg, #818181 20%, #000000 100%);
}

#main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#score {
  font-size: 3rem;
  height: 100px;
  color: white;
}

#game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 500px;
  border-radius: 10px;
  gap: 10px;
  background: none;
  margin-bottom: 100px;
}

.board-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #727274;
  user-select: none;
  width: 150px;
  height: 150px;
  background-color: #727274;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 10rem;
  transition: all ease 0.4s;
}

.board-row {
  display: flex;
  width: 470px;
  height: 150px;
  gap: 10px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background: linear-gradient(311deg, #111111 30%, #a7a7aa 100%);
}

#title {
  font-size: 4rem;
  font-style: italic;
  color: white;
  font-family: "Shantell Sans", cursive, sans-serif;
}
#show-winner {
  font-size: 2rem;
  height: 100px;
  color: white;
  font-style: italic;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

@media (max-width: 550px) {
  #game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 340px;
    border-radius: 10px;
    gap: 10px;
    background: none;
  }

  .board-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #727274;
    user-select: none;
    width: 100px;
    height: 100px;
    background-color: #727274;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 8em;
    transition: all ease-in-out 0.4s;
  }

  .board-row {
    display: flex;
    width: 300px;
    height: 100px;
    gap: 10px;
  }
}
